ul.lista li {
    list-style-type: disc;
    margin-left: 10%;
    font-size: 20px;
}

#world {
    margin-top: 10%;
}


/* Media query for Mobile */

@media only screen and (max-width: 600px) {
    nav .brand-logo {
        font-size: 1.7rem;
    }
}


/* Media query for Tablet */

@media only screen and (min-width: 601px) {
    #logo {
        max-width: 75%;
    }
    #teamwork {
        margin-top: 80%;
    }
    #world {
        margin-top: 50%;
    }
}


/* Media query for Tablet and landscape*/

@media only screen and (min-width: 601px) and (orientation: landscape) {
    #logo {
        max-width: 50%;
    }
    #world {
        margin-top: 50%;
    }
}


/* Media query for Laptop and lower screen */

@media only screen and (min-width: 993px) {
    #teamwork {
        margin-top: 50%;
    }
    #world {
        margin-top: 70%;
    }
}


/* Media query for Laptop and monitors */

@media only screen and (min-width: 1201px) {
    #teamwork {
        margin-top: 10%;
    }
    #world {
        margin-top: 10%;
    }
}